# Model configuration
# Default: OpenAI endpoint (https://api.openai.com/v1)
# Note: absolutely don't use gpt-4o-mini (see README)
MODEL_NAME=gpt-5-mini-2025-08-07
MODEL_API_KEY=your_openai_api_key_here
# Optional: only needed if you want to use other OpenAI API base URL (e.g. Azure OpenAI)
# MODEL_BASE_URL=your_base_url_here

# OR when using a self-hosted model that is support by OpenAI Provider API (e.g. Ollama, Gemini)
# Ollama:  http://localhost:11434/v1
# Gemini:  https://generativelanguage.googleapis.com/v1beta/openai
# MODEL_NAME=your_model_name_here
# MODEL_BASE_URL=your_model_base_url_here
# MODEL_API_KEY=your_model_api_key_here

# Optional: If desired to enable Logfire observability
# LOGFIRE_TOKEN=your_logfire_token_here