# when using OpenAI model
# MODEL_NAME=your_model_name_here
# OPENAI_API_KEY=your_openai_api_key_here

# when using a self-hosted model that is support by OpenAI Provider API (e.g. Ollama, Gemini)
# MODEL_NAME=your_model_name_here
# MODEL_BASE_URL=your_model_base_url_here
# MODEL_API_KEY=your_model_api_key_here

# Optional, if you want to use Logfire for logging
# LOGFIRE_TOKEN=your_logfire_token_here